<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Spring OAuth2 SSO</h1>
<a href="securedPage">Secured UI 1</a><br>
<a href="http://localhost:8083/ui2/securedPage">Secured UI 2</a>
<div sec:authorize="isAuthenticated()">
    Hello <span sec:authentication="name">someone</span>
    <p><a th:href="@{/logout}">Logout</a></p>
</div>
</body>
</html>