<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<p>
    <h1>Spring Security Authentication with Okta</h1>
</p>
<p>
    <div sec:authorize="isAuthenticated()">
        <div th:if="${user.claims.containsKey('name')}">
            Hello <span th:text="${user.claims.name}"></span>
        </div>
        <br>
        <form method="post" action="/logout">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button id="logout-button" type="submit">Logout</button>
        </form>
    </div>
</p>
<a href="securedPage">Secured area</a><br>
</html>